input {
    border: 0;
    border-bottom: 2px solid #d2527f;
    padding-bottom: 20px;
    font-size: 3em;
    text-align: center;
    background-color: transparent;
  }
  
  input:focus{
    outline: none;
  }
  
  input::placeholder {
    color: #d2527f;
    opacity: .2;
    font-style: italic;
  }
  
  input:-ms-input-placeholder {
    color: #d2527f;
    opacity: .2;
  }
  
  input::-ms-input-placeholder {
    color: #d2527f;
    opacity: .2;
  }

  input:disabled {
    background-color: transparent;
  }